
:host {

  .login-card {
    position: absolute;
    width: 500px;
    padding: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
  }

  form {
    padding: 40px;
  }

  label {
    display: block;
  }

  img {
    width: 150px;
    display: block;
    margin: auto;
    box-shadow: 0 14px 3px -5px rgba(0, 0, 0, 0.2);
  }

  input {
    outline: none;
    border: solid 1px #e2e2e2;
    font-size: 16px;
    padding: 8px 10px;
    margin: 11px 0;
    margin-bottom: 30px;
    width: 100%;
  }

  button {
    border: none;
    background-color: #009688;
    color: white;
    display: block;
    margin: 30px auto 0;
    padding: 12px 31px;
    font-size: 22px;
    font-weight: 600;
    &:disabled {
      background-color: #e6e6e6;
    }
  }

}
