
:host {

  .waiter-cover {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9999999999px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 41, 61, 0) ;
    z-index: 99999;
    transition: background .4s ease, top 0s ease;

    &.display {
      top: 0;
      transition: background .8s .4s ease, top 0s .4s ease;
      background: rgba(19, 41, 61, .9);
    }
  }

  @-webkit-keyframes ball-scale {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }

  @keyframes ball-scale {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }

  .ball-scale {
    position: relative;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  .ball-scale > div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }

  .ball-scale > div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }

  .ball-scale > div {
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    left: -30px;
    top: 0;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale 1s 0s linear infinite;
    animation: ball-scale 1s 0s linear infinite;
  }

}


