


<div class="user" >
  <div class="avatar" [ngStyle]="{ 'background-image': 'url(assets/efi.jpg)'}"></div>
  <label> חדר משותף עם כולם </label>
  <img class="close" src="assets/close.svg" alt="close" (click)="close()">
</div>
<div class="messages" #page>
<div *ngFor="let message of messages"
  [ngClass]="{'mine': message.sender === admin.connectionId}">
  <label>
    <p>{{ message.nickname }}</p>
    {{message.text}}
    <span [ngClass]="{'not-mine': message.sender !== admin.connectionId}">{{message.id | date: 'hh:mm'}}</span>
    <span class="to-read" [ngClass]="{readed: message.isReaded}" *ngIf="message.sender === admin.connectionId"></span>
  </label>
</div>
</div>
<app-chat-input (whenSended)="addMessage($event)"></app-chat-input>
